body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333333;
    width: 100%;
    margin: 0;
}   

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

*,
*:before,
*:after {
box-sizing: border-box;
}

.intro {
    width: 100%;
    height: 100vh;
    display: flex;/* что это такст посередине?*/
    flex-direction: column; /*что это текст посередине?*/
    justify-content: center;/* что это тескт посередине*/
    color:#ffffff;
    text-decoration: none;
    background:
    url("../images/intro.jpg") center
     no-repeat;
     -webkit-background-size: cover; /*что бы 
     занимала всю площадь*/
    background-size: cover;
    
}

.intro_inner {
width: 100%;
max-width: 880px;
margin: 0 auto;
text-align: center;
}

.intro_suptitle {
    font-family: Kaushan Script, Regular;
    font-size: 72px;
    margin-bottom: 20px;
}

.intro_title{
    font-family: Montserrat Bold;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;

}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto ;
    background-color: #ffffff;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #ffffff;

    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    transition: background .1s linear, color .1s linear; /*плавность перехода кнопки*/
}

.btn:hover { /*плавность перехода кнопки*/
    background-color: #ffffff;
    color: #333;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    /*благодаря этим двум элементам 
    текст займет позицию по двум краям*/
    align-items: center;
    /*это выровняет текст по центру*/
}

.header_logo{
    font-family: Montserrat Bold;
    font-weight: 700;
    font-size: 30px;
    color: white;
}

.nav{
font-size: 14px;
text-transform: uppercase;

}

.nav_link{
    display: inline-block; /*что бы шли в строку*/
    vertical-align: top;
    margin: 0 24px;
    position: relative;
    color: white;
    text-decoration: none;
    transition:color .1s linear;
    /*что бы плавно переходил цвет
     выставляем секунды и линии */
}
/*селектор меняет цвет 
при наведении на слово и тд*/
.nav_link:hover{
    color: #fce38a;
}
.nav_link:hover:after{ /*для вывода линии
     под ссылками меню*/
    color: #fce38a;
    opacity: 1; /*плавный переход увета*/
}

/*при помощи псевдоэлементов before after
делаем полосочку под ссылками*/
.nav_link:after{
    content: "";
    display: block;
    opacity: 0; /*плавный переход  полоски цветом*/
    width: 100%;
    height: 3px;
    /*display: none; это уберет полоску, и будет 
    показывать толькл при наводе на нее*/

    background-color: #fce38a;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: all .1s linear;
}

.slider {
    display: flex;
    justify-content: space-between;
}

.slider_item {
    width: 23%;
    padding: 20px 0;
    margin-top: 30px;
    position: relative;
    border-top: 4px solid #fff;
    opacity: .7;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;

}

.slider_num {
    font-size: 24px;
    font-weight: 700;
}

.slider_item.active {
    opacity: 1;
}

.slider_item.active:before {
    content:"";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}